@if (stats() && imageStats() && textStats() && interrogationStats()) {
  <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
      <div class="max-w-screen-md mx-auto mb-2 text-center">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{{'stats' | transloco}}</h2>
      </div>
      <div class="items-center max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-2 lg:gap-16 xl:gap-24 lg:px-6 py-6">
        <!-- image stats -->
        <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'image_stats' | transloco}}</h3>
          <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.average_recent_performance_images" [params]="{
                 performance: (stats()!.past_minute_megapixelsteps / 60) | formatNumber:1,
                 prefix: (stats()!.past_minute_megapixelsteps / 60) | siPrefix:1:2
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_pixelsteps" [params]="{
                 amount: imageStats()!.ps | shiftDecimalsLeft:2 | formatNumber:1,
                 prefix: imageStats()!.ps | siPrefix:2
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_images" [params]="{
                 amount: imageStats()!.images | shiftDecimalsLeft | formatNumber:1,
                 unit: imageStats()!.images | siPrefix | cut:1 | uppercase
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.active_workers" [params]="{
                 workers: stats()!.worker_count | formatNumber,
                 threads: stats()!.thread_count | formatNumber
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.image_queue" [params]="{
                 requests: stats()!.queued_requests | formatNumber,
                 amount: stats()!.queued_megapixelsteps | shiftDecimalsLeft | formatNumber:1,
                 prefix: stats()!.queued_megapixelsteps | siPrefix:1:2
              }" />
            </span>
            </li>
          </ul>
        </div>
        <!-- text stats -->
        <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-right">{{'text_stats' | transloco}}</h3>
          <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.average_recent_performance_text" [params]="{
                 performance: (stats()!.past_minute_tokens / 60) | formatNumber:1,
                 prefix: (stats()!.past_minute_tokens / 60) | siPrefix
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_tokens" [params]="{
                 amount: textStats()!.tokens | shiftDecimalsLeft | formatNumber:1,
                 prefix: textStats()!.tokens | siPrefix
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_texts" [params]="{
                 amount: textStats()!.requests | shiftDecimalsLeft | formatNumber:1,
                 unit: textStats()!.requests | siPrefix | cut:1 | uppercase
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.active_workers" [params]="{
                 workers: stats()!.text_worker_count | formatNumber,
                 threads: stats()!.text_thread_count | formatNumber
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.text_queue" [params]="{
                 requests: stats()!.queued_text_requests | formatNumber,
                 amount: stats()!.queued_tokens | shiftDecimalsLeft | formatNumber:1,
                 prefix: stats()!.queued_tokens | siPrefix
              }" />
            </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="items-center max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-2 lg:gap-16 xl:gap-24 lg:px-6 py-6">
        <!-- interrogation stats -->
        <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'image_alchemy' | transloco}}</h3>
          <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                <transloco key="stats.total_alchemy_processed" [params]="{
                   amount: interrogationStats()!.processed | shiftDecimalsLeft | formatNumber:1,
                   unit: interrogationStats()!.processed | siPrefix | cut:1 | uppercase
                }" />
              </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                <transloco key="stats.active_workers" [params]="{
                   workers: stats()!.interrogator_count | formatNumber,
                   threads: stats()!.interrogator_thread_count | formatNumber
                }" />
              </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                <transloco key="stats.interrogation_queue" [params]="{
                   forms: stats()!.queued_forms | formatNumber
                }" />
              </span>
            </li>
          </ul>
        </div>
        <!-- realtime stats -->
        <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'realtime_stats' | transloco}}</h3>
          <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700 underline-links">
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                <transloco key="stats.realtime" [params]="{
                   grafanaLink: 'https://grafana.aihorde.net'
                }" />
              </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" class="invisible" />
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" class="invisible" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
}
