$darkTextColor: rgb(156, 163, 175);
$lightTextColor: rgb(107, 114, 128);
$purpleTextColor600: rgb(126, 58, 242);
$purpleTextColor500: rgb(144, 97, 249);
$bgGray600: rgb(75, 85, 99);
$bgGray700: rgb(55, 65, 81);
