<div
  class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:text-white"
  [class.bg-white]="!darkBackground()"
  [class.bg-gray-50]="darkBackground()"
  [class.dark:bg-gray-800]="!darkBackground()"
  [class.dark:bg-gray-900]="darkBackground()"
>
  <h3 class="mb-4 text-xl font-semibold"><a [href]="link()" target="_blank">{{name()}}</a></h3>
  <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400 description mb-2">{{description()}}</p>
</div>
