<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
    <div class="items-center gap-8 lg:grid xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
          <transloco key="guis.image" />
        </h2>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.desktop' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="Lucid Creations" description="TODO" image="/assets/img/guis/lucid-creations.png" link="https://dbzer0.itch.io/lucid-creations" [goToLinkName]="'guis.get' | transloco:{guiName: 'Lucid Creations'}" />
          </div>
        </div>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.web' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="ArtBot" description="TODO" image="/assets/img/guis/artbot.png" link="https://tinybots.net/artbot" />
          </div>
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="AI Scribbles" description="TODO" image="/assets/img/guis/ai-scribbles.png" link="https://www.aiscribbles.com/generate/" />
          </div>
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="HordeNG" [description]="'guis.description.horde_ng' | transloco" image="/assets/img/guis/horde-ng.png" link="https://horde-ng.org/generate" />
          </div>
        </div>
        <div class="items-center max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="Lucid Creations" description="TODO" image="/assets/img/guis/lucid-creations.png" link="https://dbzer0.itch.io/lucid-creations" [goToLinkName]="'guis.get' | transloco:{guiName: 'Lucid Creations'}" />
          </div>
        </div>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.android' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="AI Painter" description="TODO" image="/assets/img/guis/ai-painter.jpg" link="https://play.google.com/store/apps/details?id=wkygame.ai.all.in.one" [goToLinkName]="'guis.get' | transloco:{guiName: 'AI Painter'}" />
          </div>
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="HordeNG" [description]="'guis.description.horde_ng' | transloco" image="/assets/img/guis/horde-ng-android.jpg" link="https://play.google.com/store/apps/details?id=org.horde_ng.twa" [goToLinkName]="'guis.get' | transloco:{guiName: 'HordeNG'}"  />
          </div>
        </div>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.ios' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="AI Painter" description="TODO" image="/assets/img/guis/ai-painter.jpg" link="https://apps.apple.com/hk/app/%E6%A9%9F%E7%95%AB%E5%B8%AB-%E5%B0%88%E6%A5%AD%E7%9A%84ai%E7%B9%AA%E7%95%ABapp/id1644645946" [goToLinkName]="'guis.get' | transloco:{guiName: 'AI Painter'}" />
          </div>
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card name="Aislingeach" description="TODO" image="https://placehold.co/330x185" link="https://github.com/amiantos/aislingeach" [goToLinkName]="'guis.get' | transloco:{guiName: 'Aislingeach'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-50 dark:bg-gray-800">
  <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
    <div class="items-center gap-8 lg:grid xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
          <transloco key="guis.text" />
        </h2>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.desktop' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card
              name="KoboldAI Client"
              description="TODO"
              image="https://placehold.co/330x185"
              link="https://koboldai.org/"
              [goToLinkName]="'guis.get' | transloco:{guiName: 'KoboldAI Client'}"
              [darkBackground]="true"
            />
          </div>
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card
              name="SillyTavern"
              description="TODO"
              image="https://placehold.co/330x185"
              link="https://sillytavernai.com/"
              [goToLinkName]="'guis.get' | transloco:{guiName: 'SillyTavern'}"
              [darkBackground]="true"
            />
          </div>
        </div>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.web' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card
              name="KoboldAI Lite"
              description="TODO"
              image="https://placehold.co/330x185"
              link="https://lite.koboldai.net/"
              [darkBackground]="true"
            />
          </div>
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card
              name="AgnAIstic"
              description="TODO"
              image="https://placehold.co/330x185"
              link="https://agnai.chat/"
              [darkBackground]="true"
            />
          </div>
        </div>

        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'guis.ios' | transloco}}</h3>
        <div class="items-center border-t max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-16 xl:gap-24 lg:px-6 py-6">
          <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
            <app-gui-card
              name="Inneal"
              description="TODO"
              image="https://placehold.co/330x185"
              link="https://github.com/amiantos/inneal"
              [goToLinkName]="'guis.get' | transloco:{guiName: 'Inneal'}"
              [darkBackground]="true"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
