<!-- intro block -->
<section class="bg-white dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">
        <transloco key="brand_subtitle" />
      </h1>
      <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        <transloco key="service_description" [params]="{
             serverLink: 'https://github.com/Haidra-Org/AI-Horde',
             imageWorkerLink: 'https://github.com/Haidra-Org/horde-worker-reGen',
             textWorkerLink: 'https://github.com/Haidra-Org/AI-Horde-Worker',
             joinHordeLink: 'https://github.com/Haidra-Org/AI-Horde/blob/main/README_StableHorde.md#joining-the-horde'
          }" />
      </p>
      <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        <transloco key="more_information" [params]="{
             faqLink: {route: '/faq'},
             developerBlogLink: 'https://dbzer0.com/'
          }" />
      </p>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img ngSrc="/assets/img/front-image.png" alt="hero image" height="832" width="1064">
    </div>
  </div>
</section>

<!-- sponsors -->
<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
    <h2 class="mb-6 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">
      Sponsors
    </h2>
    <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6 dark:text-gray-400">
      <a href="https://nlnet.nl/project/AI-Horde/" target="_blank" class="flex items-center lg:justify-center">
        <inline-svg href="/assets/img/nlnet.svg" class="sponsor-svg" />
      </a>
    </div>
  </div>
</section>

<!-- latest news -->
<section class="bg-gray-50 dark:bg-gray-800">
  <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
    <div class="items-center gap-8 lg:grid xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
          <a routerLink="/news">
            <transloco key="latest_news" />
          </a>
        </h2>
        @for (newsItem of news(); track newsItem.title) {
          <div class="mb-6">
            <h3 class="mb-3 text-2xl text-gray-900 dark:text-white" [innerHTML]="newsItem.title"></h3>
            @if (newsItem.excerpt) {
              <p class="mb-2 font-light lg:text-xl" [innerHTML]="newsItem.excerpt"></p>
            }
            @if (newsItem.moreLink) {
              <p class="mb-2 font-light lg:text-xl">
                <a [href]="newsItem.moreLink" target="_blank">{{'read_more' | transloco}}</a>
              </p>
            }
          </div>
        } @empty {
          <p class="mb-2 font-light lg:text-xl">{{'no_news' | transloco}}</p>
        }
      </div>
    </div>
  </div>
</section>

<!-- stats -->
@if (stats() && imageStats() && textStats()) {
  <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
      <div class="max-w-screen-md mx-auto mb-2 text-center">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{{'stats' | transloco}}</h2>
      </div>
      <div class="items-center max-w-screen-xl px-4 mx-auto lg:grid lg:grid-cols-2 lg:gap-16 xl:gap-24 lg:px-6 py-6">
        <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'image_stats' | transloco}}</h3>
          <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.average_recent_performance_images" [params]="{
                 performance: (stats()!.past_minute_megapixelsteps / 60) | formatNumber:1,
                 prefix: (stats()!.past_minute_megapixelsteps / 60) | siPrefix:1:2
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_pixelsteps" [params]="{
                 amount: imageStats()!.ps | shiftDecimalsLeft:2 | formatNumber:1,
                 prefix: imageStats()!.ps | siPrefix:2
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_images" [params]="{
                 amount: imageStats()!.images | shiftDecimalsLeft | formatNumber:1,
                 unit: imageStats()!.images | siPrefix | cut:1 | uppercase
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.active_workers" [params]="{
                 workers: stats()!.worker_count | formatNumber,
                 threads: stats()!.thread_count | formatNumber
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.image_queue" [params]="{
                 requests: stats()!.queued_requests | formatNumber,
                 amount: stats()!.queued_megapixelsteps | shiftDecimalsLeft | formatNumber:1,
                 prefix: stats()!.queued_megapixelsteps | siPrefix:1:2
              }" />
            </span>
            </li>
          </ul>
        </div>
        <div class="space-y-8 sm:gap-6 xl:gap-10 lg:space-y-0">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-right">{{'text_stats' | transloco}}</h3>
          <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.average_recent_performance_text" [params]="{
                 performance: (stats()!.past_minute_tokens / 60) | formatNumber:1,
                 prefix: (stats()!.past_minute_tokens / 60) | siPrefix
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_tokens" [params]="{
                 amount: textStats()!.tokens | shiftDecimalsLeft | formatNumber:1,
                 prefix: textStats()!.tokens | siPrefix
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.total_texts" [params]="{
                 amount: textStats()!.requests | shiftDecimalsLeft | formatNumber:1,
                 unit: textStats()!.requests | siPrefix | cut:1 | uppercase
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.active_workers" [params]="{
                 workers: stats()!.text_worker_count | formatNumber,
                 threads: stats()!.text_thread_count | formatNumber
              }" />
            </span>
            </li>
            <li class="flex space-x-3">
              <inline-svg href="/assets/img/li-checkbox.svg" />
              <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
              <transloco key="stats.text_queue" [params]="{
                 requests: stats()!.queued_text_requests | formatNumber,
                 amount: stats()!.queued_tokens | shiftDecimalsLeft | formatNumber:1,
                 prefix: stats()!.queued_tokens | siPrefix
              }" />
            </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
}
