<div class="wrapper" [class.dark]="darkMode()">
  <header class="fixed w-full">
    <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
      <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
        <a routerLink="/" class="flex items-center">
          <img ngSrc="/assets/img/logo.png" class="h-6 mr-3 sm:h-9 w-auto" alt="{{'logo.alt' | transloco}}" height="455" width="393" priority/>
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{'app_title' | transloco}}</span>
        </a>
        <div class="flex items-end lg:order-2">
          <button data-collapse-toggle="mobile-menu-2" type="button"
                  class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                  aria-controls="mobile-menu-2" aria-expanded="false">
            <span class="sr-only">{{'open_main_menu' | transloco}}</span>
            <inline-svg href="/assets/img/open-menu.svg" />
            <inline-svg href="/assets/img/close-menu.svg" />
          </button>
        </div>
        <div class="items-end justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
          <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
            <li>
              <a routerLink="/" class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white" aria-current="page">{{'home' | transloco}}</a>
            </li>
            <li>
              <a routerLink="/register" class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white" aria-current="page">{{'register_account' | transloco}}</a>
            </li>
            <li>
              <a routerLink="/news" class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white" aria-current="page">{{'news' | transloco}}</a>
            </li>
            <li>
              <a routerLink="/faq" class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white" aria-current="page">{{'faq' | transloco}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer
    [class.bg-gray-50]="!darkFooter()"
    [class.dark:bg-gray-800]="!darkFooter()"
    [class.bg-white]="darkFooter()"
    [class.dark:bg-gray-900]="darkFooter()"
  >
    <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10">
      <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
        <div>
          <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">{{'community' | transloco}}</h3>
          <ul class="text-gray-500 dark:text-gray-400">
            <li class="mb-4">
              <a href="https://discord.gg/3DxrhksKzn" class="hover:underline" target="_blank">{{'discord' | transloco}}</a>
            </li>
            <li class="mb-4">
              <a href="https://www.patreon.com/db0" class="hover:underline" target="_blank">{{'patreon' | transloco}}</a>
            </li>
            <li class="mb-4">
              <a href="https://github.com/Haidra-Org" class="hover:underline" target="_blank">{{'github' | transloco}}</a>
            </li>
            <li class="mb-4">
              <a href="https://sigmoid.social/@stablehorde" class="hover:underline" target="_blank">{{'mastodon' | transloco}}</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">{{ 'credits' | transloco }}</h3>
          <ul class="text-gray-500 dark:text-gray-400">
            <li class="mb-4">
              <a href="https://dbzer0.com/" class="hover:underline" target="_blank">db0</a>
            </li>
            <li class="mb-4">
              <a href="https://github.com/haidra-org" class="hover:underline" target="_blank">Haidra</a>
            </li>
            <li class="mb-4">
              <a routerLink="/sponsors" class="hover:underline">{{'sponsors' | transloco}}</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">{{'legal' | transloco}}</h3>
          <ul class="text-gray-500 dark:text-gray-400">
            <li class="mb-4">
              <a routerLink="/privacy" class="hover:underline">{{'privacy_policy' | transloco}}</a>
            </li>
            <li class="mb-4">
              <a routerLink="/terms" class="hover:underline">{{'terms_of_service' | transloco}}</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">{{'documentation' | transloco}}</h3>
          <ul class="text-gray-500 dark:text-gray-400">
            <li class="mb-4">
              <a href="https://aihorde.net/api" class=" hover:underline" target="_blank">{{'rest_api' | transloco}}</a>
            </li>
            <li class="mb-4">
              <a href="https://github.com/Haidra-Org/AI-Horde/blob/main/README_StableHorde.md#joining-the-horde" class="hover:underline" target="_blank">{{'join_horde' | transloco}}</a>
            </li>
            <li class="mb-4">
              <a routerLink="/faq" class="hover:underline">{{'frequently_asked_questions' | transloco}}</a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
      <div class="text-center">
        <a href="#" class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
          <img src="/assets/img/logo.png" class="h-6 mr-3 sm:h-9" [alt]="'logo.alt' | transloco"/>
          {{'app_title' | transloco}}
        </a>
        <span class="block text-sm text-center text-gray-500 dark:text-gray-400 built-with">
          <transloco key="built_with" [params]="{flowbiteLink: 'https://flowbite.com', tailwindLink: 'https://tailwindcss.com', angularLink: 'https://angular.dev'}" />
        </span>
      </div>
    </div>
  </footer>
</div>
