@import "styles/additional_pieces";
@import "styles/md";
@import "styles/landwind";
@import "styles/colors";

h3, p, .underline-links {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: darken($lightTextColor, 30%);
    }
  }
}

.dark {
  h3, p, .underline-links {
    a:hover {
      color: lighten($darkTextColor, 30%);
    }
  }

  .dark\:fill-white {
    fill: white;
  }
}

#mobile-menu-2 {
  margin-left: auto;
  margin-right: 0;
}

.built-with a {
  color: $purpleTextColor600;

  &:hover {
    text-decoration: underline;
  }
}

.dark {
  .built-with a {
    color: $purpleTextColor500;
  }
}
